
.rotate-anchor {
    cursor: pointer; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.rotate-anchor:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.fab-btn-basic button div span {
    text-transform: capitalize !important;
}
.fab-btn-basic button div svg {
margin-bottom: 3px;
}
.fab-btn + .fab-btn {
    margin-left: 0.5rem;
}

/*CSS styles for Home component*/
.footer{
    display: flex;
    background: white;
    padding: 20px;
    padding-left: 100px;
    height: 20px;
    -webkit-box-pack: justify;
    border-top: 1px solid #ccc;
}
/*----------------------------*/

/*CSS styles for Home component*/

.msp-universal-style {
    font-family: Roboto, sans-serif;
}
.msp-home-body{
    margin-left: 80px;
    margin-right: 2px;
}
.msp-home-body-panel{
    margin-bottom: 15px;
}
/*-------------------------------*/

/*CSS styles for TemplateTabs*/
#msp-template-panel{
    background: white;
}
#msp-template-panel > div:first-child {
    margin: 0 !important;
    padding-bottom: 0;
    padding-top: 0;
}
.msp-header-tab {
    color: #002D72 !important;
    font-weight: bold !important;
}
.msp-header-tab span {
    font-size: 16px !important;
    text-transform: capitalize;
}
.msp-header-grid-list{
    display: flex;
    flex-wrap: nowrap;
    font-family: Roboto, sans-serif;
    box-shadow: 0px 2px #ccc;
    position: fixed;
    right: 0px;
    left: 80px;
    top: 0px;
    z-index: 1;
    background: white;
}
.msp-header-grid-list + .msp-panel-header {
    margin-top: 60px;
}
.msp-header-grid-tile-btns{
    padding: 6px
}
#msp-template-tabs > div:nth-child(2) > div {
    height: 3px !important;
    margin-top: 1px !important;
}
.msp-template-tabs-body{
    margin-top: 10px
}
.msp-template-tabs-body-search-sort-div {
    float: right;
    margin-right: 10px;
    margin-top: -10px
}
.msp-template-tabs-body-search-bar {
    border: 1px solid #ccc;
    display: inline-block;
}
.msp-template-tabs-body-search-input{
    height: 32px;
    border: 0px;
}
#msp-template-sortBy > div > div:nth-child(2){
    color: #002D72 !important;
    font-weight: 700;
    line-height: 28px !important;
    padding-right: 30px !important;
    text-align: center;
    top: 9px !important;
}
#msp-template-sortBy button svg {
    fill: #002D72 !important;
}
.fui-app-header .fui-clickable > div {
    display: inline-block;
    margin-left: 15px;
    vertical-align: middle;
}
.fui-app-header .fui-clickable > div:nth-child(2) {
    font-size: 18px !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     
    #msp-template-sortBy > div > div:nth-child(2){
        overflow: visible !important;
    }
    /*#msp-properties-fontfamily > div > div:nth-child(2), #msp-properties-fontWeight > div > div:nth-child(2),
      #msp-properties-fontSize > div > div:nth-child(2),#msp-properties-barcodeOptionsFields > div > div:nth-child(2),
      #msp-properties-database-fields > div > div:nth-child(2),#msp-properties-date-fields > div > div:nth-child(2){
        overflow: visible !important;

    }*/
}
.msp-template-tabs-body-grid-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    margin-top: 10px;
    font-family: Roboto, sans-serif
}
.msp-template-tabs-body-grid-tile-image{
    background: #dedede;
    margin-left: 15px;
    margin-right: 15px;
    padding: 12%;
    text-align: center
}
.msp-template-tabs-body-image, .msp-release-panel-body-image {
    width: 90%;
    height: auto;
}
.msp-template-tabs-body-grid-tile-subtitle{
    color: black;
    text-align: center
}
.msp-template-action > div > div > div:nth-child(2){
     line-height: 28px !important;
     top: 10px !important;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
     /* IE10+ CSS styles go here */
     
    .msp-template-action > div > div > div:nth-child(2){
        overflow: visible !important;
    }
}
.msp-template-poster .msp-template-action {
    visibility: hidden;
}
.msp-template-poster:hover .msp-template-action {
    visibility: visible;
}
.msp-template-set .msp-template-action {
    visibility: hidden;
}
.msp-template-set:hover .msp-template-action {
    visibility: visible;
}
.msp-template-label .msp-template-action {
    visibility: hidden;
}
.msp-template-label:hover .msp-template-action {
    visibility: visible;
}
.msp-template-inventory .msp-template-action {
    visibility: hidden;
}
.msp-template-inventory:hover .msp-template-action {
    visibility: visible;
}
.msp-template-tabs-no-templates{
    padding: 151px;
    color: grey; 
}
/*---------------------------*/

/*CSS Styles for Release Panel*/
#msp-release-panel{
    background: white;
    border-top: 2px solid #ccc;
}
.msp-panel-header{
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-weight: bold;
    color: #002D72;
    font-size: 16px;
}
.msp-release-template,
.msp-template-label,
.msp-template-set,
.msp-template-inventory,
.msp-template-poster {
    padding-top: 25px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: auto !important;
}
.msp-release-template-img{
    background: #dedede;
    padding: 12%;
    text-align: center;
}
.msp-template-name {
    color: #444;
    font-weight: bold;
}
.msp-template-desc, .msp-template-date {
    color: #444;
    padding-top: 4px;
}
#msp-template-view-all, #msp-release-view-all {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
.msp-release-template .msp-template-action {
    visibility: hidden;
}
.msp-release-template:hover .msp-template-action {
    visibility: visible;
}
.msp-release-template-no-templates{
    padding: 10px;
    color: grey; 
}

.msp-preview-button-container > div {
    border: 1px solid #ccc;
    border-radius: 2px
}
/*----------------------------*/

/*CSS Styles for Upload Panel*/
#msp-upload-panel{
    border-top: 2px solid #ccc;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
.msp-upload-panel-header{
    border-bottom: 1px solid #ccc;
    padding: 15px;
    font-size: 16px;
}
.msp-upload-panel-header-text{
    display: inline-block;
    font-weight: bold;
    color: #002D72;
}
.msp-upload-panel-header-link{
    float: right;
    font-weight: normal !important;
}
.msp-upload-image{
    padding: 20px;
}
.msp-upload-panel-child{
    display: inline-block;
}
#filepathdisplay{
    width: 400px;
    height: 28px;
    border: 1px solid #ccc;
}


/*---------------------------*/

/*CSS Styles for New Template Modal*/

.msp-modal-container {
  max-width: 900px !important;
  width: 75% !important;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}
.msp-redirect-modal-container, .msp-before-preview-modal-container {
  max-width: 500px !important;
}
.msp-redirect-modal-body, .msp-before-preview-modal-body  {
  padding: 15px !important;
}
.msp-redirect-body-text, .msp-before-preview-body-text {
  color: #444;
}
.msp-redirect-modal-title, .msp-before-preview-modal-title {
  background: #002D72 !important;
  color: #fff !important;
  position: relative;
  font-size: 20px !important;
  padding: 10px 20px !important;
}
.msp-new-template-body-content {
  padding: 20px;
}
.msp-new-template-body-content .msp-new-format-btn,
.msp-new-template-body-content .msp-existing-format-btn {
  color: #002D72 !important;
  cursor: pointer;
  padding-bottom: 4px;
}
.msp-new-template-body-content .msp-new-format-subtext,
.msp-new-template-body-content .msp-existing-format-subtext {
  color: #666 !important;
  font-size: 13px !important;
}
.msp-modal-close-btn {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 14px;
}
.msp-snackbar-container {
  bottom: 25px !important;
  left: 40% !important;
}
.msp-snackbar-container div {
  color: #fff !important;
  min-width: 350px !important;
  text-align: center;
}
.msp-snackbar-container.msp-editor-page {
    bottom: 40px !important;
}
.msp-snackbar-container.msp-editor-page div {
    min-width: 390px !important;
}
.msp-snackbar-container.warning div {
  background-color: #FF5916 !important;
}
.msp-snackbar-container.success div {
  background-color: #74BA00 !important;
}
.msp-snackbar-container.error div {
  background-color: #d90000 !important;
}
.msp-snackbar-close-btn {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 8px;
}
.msp-modal-close-btn svg, .msp-snackbar-close-btn svg {
  fill: white !important;
}
.msp-new-format-form {
  font-size: 14px;
}
#msp-format-dm-type > div div:nth-child(2) {
  line-height: 32px !important;
  padding-right: 0 !important;
}
#msp-format-dm-type button {
  height: 34px !important;
  padding: 0 20px !important;
  fill: black !important;
}
#msp-format-dm-type + div {
  display: none;
}
.msp-format-dm-type {
  height: 22px !important;
}
.msp-format-preview-container {
  background: #eee;
  border: 1px solid #ccc;
  min-height: 460px;
  padding: 120px 11px;
}
.msp-format-preview-wrapper {    
  background: #fff;
  border: 1px solid #000;
}
.msp-output-area-wrapper {    
  border: 1px dashed #ff0000;
}
div[class^="msp-format-preview-column-"] {
  background:  #1a3b7a;
  float: left;
}
.msp-disabled-control {
  opacity: 0.5;
  pointer-events: none;
}
.input-group-addon-width-height{
    padding: 6px 6px !important;
}
/*------------------*/ 

/*---------------------------*/

/*CSS Styles for New Template Modal*/
.msp-modal-container-savesvg {
  max-width: 500px !important;
  width: 35% !important;
}
/*------------------*/ 

/*---------Common style starts -------------------*/
.msp-form-header {
 background: #eee;
 color: #333;
 font-size: 16px;
 margin-bottom: 10px;
 padding: 5px;
}
.msp-error {
  font-size: 13px;
  color: #d90000;
}
.msp-required-error {
  border: 2px solid #d90000;
}
.form-control:focus.msp-required-error {
    border: 2px solid #d90000;
}  
.msp-required-label {
  color: #d90000;
}
.msp-form-body {
  padding: 5px 0px;
  /*padding: 5px 15px;*/
}
.fui-flat-btn + .fab-btn {
  margin-left: 0.5rem;
}
.msp-modal-container .msp-modal-title,
.msp-modal-container .msp-modal-body {
  padding: 10px 15px !important;
}
.msp-modal-container-savesvg .msp-modal-title,
.msp-modal-container-savesvg .msp-modal-body {
  padding: 10px 15px !important;
}
.msp-modal-body {
  max-height: 620px !important;
}
.msp-modal-title {
  background: #002D72 !important;
  color: #fff !important;
  position: relative;
}
.margin-b10 {
  margin-bottom: 10px;
}
.margin-t6 {    
  margin-top: 6px;
}
.msp-label-inline {
  color: #333;
  font-weight: 400;
}
.msp-release-or-template-tabs-svg{
    background: #dedede;
    height: 150px;
    text-align: center;
}
/*---------Common style ends -------------------*/

.msp-search-div{
    position: relative !important;
    width: 100%
}

.msp-search-icon-right{
  position: absolute !important;
  right: 27px;
  top: 10px;
  background: white;
}

.msp-search-icon-left {
    position: absolute !important;
    left: 30px;
    top: 10px !important;
    background: white;
    color: #ccc;
}
/*----------Editor Styles-----------------------*/
.msp-design-editor{
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: 'Roboto';
    font-size: 13px;
    color: #444444;
    height: 100%;
    width: 100%;
    background-color: #f3f8fb;
}
.msp-editor-header{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 2;
}
.msp-editor-header-sidebar{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #002D72;
    height: auto;
    width: 80px;
    z-index: 1;
}
.msp-editor-header-sidebar > div {
    text-align: center;
}
.msp-editor-header-icon:hover{
    cursor: pointer;
}
.msp-header-logo{
    height: 32px;
    margin: 24px auto;
}
.msp-header-user-icon{
    position: absolute;
    bottom: 80px;
    height: 32px;
    margin: 24px auto;
}
.msp-header-expand-icon{
    position: absolute;
    bottom: 0px;
    height: 32px;
    margin: 24px auto;
}
.msp-editor-left-nav-panel{
    position: fixed;
    top: 80px;
    left: 80px;
    bottom: 0px;
    max-height: 100%;
    width: 80px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
    text-align: center;
    border-right: 1px solid #ccc;
    z-index: 1;
}
.msp-editor-left-nav-panel-icon-list{
    text-align: center;
}
.msp-editor-left-nav-panel-icon{
    height: 60px;
    width: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    background: white;
    cursor: pointer;
}
.msp-editor-left-nav-panel-icon:hover{
    box-shadow: 0px 0px 5px #ccc
}
.msp-editor-left-nav-panel-icon-text{
    text-align: center;
}
.msp-editor-left-nav-shapes-menu{
    position: fixed;
    left: 150px;
    top: 425px;
    width: 40px;
    height: 85px;
    background: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px #666;
    z-index: 10;
}

.msp-editor-top-nav-align-menu{
    position: fixed;
    left: 500px;
    top: 70px;
    max-height: 300px;
    height: auto;
    width: auto;
    max-width: 160px;
    color: black;
    box-shadow: 1px 1px 2px 1px #666;
    background-color: white;
    z-index: 10;
    font-size: 16px;
    font-family: Roboto;
}

.editor-top-nav-panel-align {
    height: 38px;
    padding-top: 0.5em;
}

.editor-top-nav-panel-align span {
    padding-right: 1.9em;
    padding-left: 1.9em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    cursor: pointer;
}

.editor-top-nav-panel-align:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
    opacity: 1;
}

#editor-left-nav-panel-icon-shapes-rect{
    height: 42.5px;
}
#editor-left-nav-panel-icon-shapes-circle{
    height: 42.5px;
}
.msp-editor-top-nav-panel{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 80px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    z-index: 1;
}

.msp-editor-top-nav-panel-row{
    height: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 80px;
    margin-right: 0px;
}
.msp-editor-top-nav-panel-text-export{
    color: #444444 !important;
    padding-top: 3px;
    font-family: Roboto !important
}
.msp-editor-top-nav-panel-text-preview{
    padding-top: 2px;
}
.msp-editor-top-nav-panel-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0px;
    cursor: pointer;
    max-width: 80px;
}

.msp-editor-top-nav-panel-vcenter div{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.msp-editor-top-nav-panel-vcenter .sub-panel{
    text-align: left;
}

.msp-editor-top-nav-panel-vcenter div>div{
    margin-top: 10px;
}

.msp-editor-row{
    margin-top: 80px;
    margin-left: 160px;
    margin-right: 0px !important;
    padding-top: 20px;
    padding-left: 5px;
}

.msp-editor-canvas{
    padding: 0px;
    margin-right: 0px;
    left: 180px;
    position: fixed;
    overflow: hidden;
    height: inherit;
}

.msp-editor-canvas-ruler{
    background: white;
    position: fixed;
    top: 80px;
    height: 20px;
}

/*--------------Ruler----------------*/
.ruler {
	background-repeat: repeat;
	transition: all 0.1s ease-in;
	position: relative; 
}
.ruler-text {
    font-size: 10px;
    transform: translate(1px,1px);
    position: absolute;
}
/*-----------------------------------*/
.clear {
  clear: both;
}
/*---------Common style ends -------------------*/

.msp-article-side-panel {
    position: fixed;
    left: 160px;
    top: 80px;
    background: white;
    width: 200px;
    height: 100%;
    border-right: 1px solid #ccc;
}

.msp-article-side-panel-closebtn {
    position: fixed;
    height: 25px;
    width: 25px;
    top: 85px;
    left: 330px;
}

.msp-article-field-span{
    font-size: 13px !important;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.msp-article-field-title-span{
    font-size: 16px !important;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #002D72 !important;
    font-family: Roboto-Medium !important
}

.msp-close-glyphicon{
    padding-top: 5px; 
}

.msp-article-field-list{
    position: absolute;
    top: 150px;
    width: 100%;
}

.msp-article-field-span-component{
    font-size: 16px !important;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
    color: #002D72 !important;
    font-family: Roboto-Medium !important
}

/***************preview template styles start*************************/
.msp-preview-template-container{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.msp-preview-template-padding-none{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.msp-preview-template-card-margin-10{
     margin: 10px auto;
     background: #d3d3d3;
     text-align: center;
}

.msp-preview-template-card-margin-10 svg{
    background: #ffffff;
}
.msp-preview-snackbar-wrapper .msp-snackbar-container {
    position: absolute !important;
}
.msp-preview-template-card-margin-5{
     margin: 5px auto;
     background: #d3d3d3;
     text-align: center;
}

.msp-preview-template-card-margin-5 svg{
    background:#ffffff;
}

.msp-preview-template-ok-button{
    margin-right: 35px
}

  .msp-property-category {
    overflow: visible;
  }

  .msp-property-fontweight{
    float: left;
    padding-right: 9px;
  }

  .msp-property-fontSize{
      float: left;
    padding-left: 14px;
  }

  .msp-properties-panelheader {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
  }



  .msp-property-xaxis,.msp-property-width{
    /* float: left;
    padding-right: 28px; */
  }

  .msp-property-yaxis,.msp-property-height{
/* float: left; */
  }


  .msp-xaxis-input,.msp-width-input{
    background: white;
    /*border-width: 2px;*/
    padding: 5px 5px;
    color: #000000;
    /*border-radius: 2px;*/
    width: 65px;
    outline: none;
    border:1px solid rgb(181, 181, 181);
  }

  .msp-image-input{
    background: white;
    border-width: 2px;
    padding: 5px 5px;
    color: #000000;
    border-radius: 2px;
    width: 150px;
    outline: none;
  }

  .msp-image-label{
    font-size: 12px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-right: 10px;
    width: 80px;
    padding-bottom: 5px;
  }
  .msp-image-radio-input{
    display: inline-block;
    width: 75px;
    color: #000000;
  }

  .msp-yaxis-input,.msp-height-input{
    background: white;
    /*border-width: 2px;*/
    padding: 5px 5px;
    color: #000000;
    /*border-radius: 2px;*/
    width: 65px;
    outline: none;
    border:1px solid rgb(181, 181, 181);
  }
.msp-property-category-label-alignment{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding-bottom: 5px;
}

.msp-property-alignment{
 padding-top: 10px;}

.msp-properties-aligment{
    padding-top: 5px;
}

.msp-properties-aligment-barcode{
    margin-right: 15px;
    margin-left: 25px;
}

.msp-property-rotation{
        float: left;
}
.msp-rotation-label{
      font-size: 15px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-right: 53px;
}

.msp-property-rotateinput{
   float: right;
    padding-right: 9px;
}
.msp-rotation-input{
   background: white;
    border-width: 2px;
    padding: 5px 5px;
    color: #000000;
    border-radius: 2px;
    width: 70px;
    outline: none;
    float: right;
}

.msp-textfield-input{
    padding: 5px 5px;
    color: #000000;
    outline: none;
    width: 208px;
    border:1px solid rgb(181, 181, 181);
}

#msp-properties-fontfamily > div > div:nth-child(2),#msp-properties-fontWeight > div > div:nth-child(2),
#msp-properties-priceformat > div > div:nth-child(2),
#msp-properties-fontSize > div > div:nth-child(2),#msp-properties-barcodeOptionsFields > div > div:nth-child(2),
#msp-properties-database-fields > div > div:nth-child(2),#msp-properties-date-fields> div > div:nth-child(2) {
    color: #002D72 !important;
    /*font-weight: 700;*/
    line-height: 28px !important;
    padding-right: 30px !important;
    padding-left: 4px !important;
    text-align: center;
    top: 9px !important;
    border: 1px solid rgb(181, 181, 181);
}
#msp-properties-fontfamily button svg,#msp-properties-fontWeight button svg,#msp-properties-fontSize button svg,
#msp-properties-priceformat button svg,
#msp-properties-barcodeOptionsFields button svg,#msp-properties-database-fields button svg,
#msp-properties-date-fields button svg {
    fill: #002D72 !important;
}
#msp-properties-priceformat{
    width:188px!important;
    font-size:13px!important;
    margin-left:30px!important; 
}
#msp-properties-fontfamily,#msp-properties-date-fields {
    /*width:143px!important; */
}
/* Check this change */
#msp-properties-fontfamily{
    width:208px!important;
    font-size:13px!important;
}
#msp-properties-fontWeight{
    width:121px!important;
    font-size:13px!important;
}
#msp-properties-fontSize{
    width:80px!important;
    font-size:13px!important;
    margin-left:20px!important;
}
.msp-letterspacing{
        /* padding-right: 10px; */
}

.msp-properties-defaulticon{
   
    vertical-align: middle;
    width:27px;
    height:27px;
    display: inline;
}
.msp-properties-activeicon{
   
    vertical-align: middle;
    width:27px;
    height:27px;
    display: inline;
}
.msp-properties-colorinput{
 width: 18px;
    height: 18px;
    display:inline-block;
    margin-right: 3px;
    margin-left: -12px; 
}
.msp-properties-color{
     margin-left: 2px;
    margin-top: 2px;
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid black;
}
.msp-property-backgroundcolor{
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

.msp-property-hide{
    display:none;
}


/*-----------------------------------*/
/*--------- Properties Window -------------------*/

.msp-properties-panel {
    position: fixed;
    right:0px;
    top: 80px;
    background: white;
    width: 300px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 6;
}

.msp-properties-panel-title-span{
   font-size: 16px !important;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding-right: 30px;
}

.msp-properties-panel-title-line{
   border-top: 1px solid #ccc;
    margin-top: 8px;
    margin-bottom: 15px;
}

 .msp-properties-section {
   background: white;
    overflow: visible;
    padding-bottom: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
/* Check this too */
  .msp-property-category-label {
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .msp-property-category-label-format{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 10px;
  }

  .msp-mapping-panel-fields {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .msp-property-price-show-hide{
      margin-left:0px;
  }
  .msp-property-price-symbol-positon{
    margin-left:-1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-top: 10px !important;
  }
  .msp-property-price-padding{
    margin-top: 10px !important;
  }
  .msp-property-price-format{
    margin-left:0px;
  }
 .msp-property-price-child-label{
    font-size: 13px ;
    text-align: left;
    font-family: Roboto; 
    margin-right: 35px !important;
  }

  .msp-property-fontSize{
      float: left;
    padding-left: 14px;
  }

  .msp-properties-panelheader {
      padding-left: 0px;
    padding-right: 0px;
    margin-bottom: -20px;
  }

  .msp-property-transformations{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .msp-property-xaxis,.msp-property-width{
    /*float: left;*/
    /*padding-right: 22px;*/
    /* padding-left: 25px; */
  }

  .msp-property-yaxis,.msp-property-height{
    /* float: left;
    padding-left: 50px; */
  }

  .msp-xaxis-label,.msp-width-label{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    /* padding-right: 10px; */
  }

   .msp-yaxis-label,.msp-height-label{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
  }

  .msp-image-input{
    background: white;
    border-width: 2px;
    padding: 5px 5px;
    color: #000000;
    border-radius: 2px;
    width: 150px;
    outline: none;
  }

  .msp-image-label{
    font-size: 15px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-right: 10px;
    width: 80px;
  }
  .msp-image-radio-input{
    display: inline-block;
    width: 75px;
    color: #000000;
  }

.msp-properties-aligment{
    /* margin-right: 20px;
    margin-left: 20px; */
}

.msp-property-color{
    padding-top: 10px;
    margin-left: 5% ;
}
.msp-letterspacing-input{
   background: white;
    padding: 5px 5px;
    color: #000000;
    width: 65px;
    outline: none;
    border:1px solid rgb(181, 181, 181);
}


.msp-rotate-input{
   background: white;
    border-width: 2px;
    padding: 5px 5px;
    color: #000000;
    border-radius: 2px;
    width: 70px;
    outline: none;
        float: right;
}

#msp-properties-fontfamily button svg,#msp-properties-fontWeight button svg,#msp-properties-fontSize button svg {
    fill: #002D72 !important;
}

.msp-letterspacing-label{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
}
.msp-letterspacing{
    padding-top: 10px;
}
.msp-rotate-label{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-left: 25px;
}
.msp-rotate{
        padding-right: 10px;
}
.msp-properties-order{
    /*margin-right: 18px;
    margin-left: 18px;*/
    /* margin-right: 15px;
    margin-left: 25px; */
}

.msp-properties-defaulticon{
    fill: #b5b5b5;
    vertical-align: middle;
    /*width:27px;
    height:27px;*/
    width:20px;
    height:20px;
}
.msp-properties-activeicon{
    fill: black;
    vertical-align: middle;
    width:27px;
    height:27px;
}
.msp-properties-colorinput{
 width: 18px;
    height: 18px;
    display:inline-block;
    margin-right: 3px;
}

.msp-property-backgroundcolor{
    float: left;
}

.msp-property-hide{
    display:none;
}
#msp-tp-align-left .msp-properties-activeicon {
  fill: #b5b5b5;
}
#msp-tp-align-left .msp-properties-defaulticon {
  fill: black;
}
#msp-tp-align-center .msp-properties-activeicon {
  fill: #b5b5b5;
}
#msp-tp-align-center .msp-properties-defaulticon {
  fill: black;
}
#msp-tp-align-right .msp-properties-activeicon {
  fill: #b5b5b5;
}
#msp-tp-align-right .msp-properties-defaulticon {
  fill: black;
}
.msp-properties-fontfamilyoptions,.msp-properties-barcodeoptions,.msp-properties-databaseoptions{
    font-size:13px!important;
}

.msp-property-typography{
    padding-top: 10px;
    padding-right:0px;
}

.msp-properties-panel-closebtn{
    float: left;
    padding-top: 4px;
    padding-left: 30px;
    padding-bottom: 18px;
}

.msp-property-component-options{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
}
.msp-property-textEditType-options{
    /* padding: 10px 20px 20px 20px;
    margin-top: 27px */
    height:56px
}

.msp-component-type-defaultinput{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    width: 100px;
    color: #000000;
    /* text-align: left; */
    /* padding-right: 11px; */
    /* padding-left: 18px; */
    /* float: left; */
    /* height: 45px !important; */
    /* padding-top: 10px !important; */
}
.msp-component-type-message{
    font-size: 13px !important;
    color: #214F96 !important;
    font-family: Roboto-Medium !important;
    margin-left: 15px;
}
.msp-textEditType-defaultinput{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    width: 230px;
    color: #000000;
    /* float: left; */
    height: 29px;
    margin-top: 5px;
}

.msp-component-type-dynamicinput{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    
    width: 106px;
    color: #000000;
    /* text-align: right; */
    /* padding-left: 30px; */
    padding-right: 21px;
    float: right;
}

  .msp-property-component-inputvalue{
    background: white;
    /*border-width: 2px;*/
    padding: 5px 5px;
    color: #000000;
    /*border-radius: 2px;*/
    /*width: 150px;*/
    width: 208px;
    outline: none;
    border:1px solid rgb(181, 181, 181)
  }

  .msp-property-component-inputvalue-error{
    background: white;
    padding: 5px 5px;
    color: #000000;
    border-radius: 2px;
    width: 188px;
    outline: none;
    Border: 1px solid #FF5916 !important;
  }

  .msp-property-component-value{
    font-size: 12px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-right: 10px;
    width: 100px;
    padding-bottom: 5px;
    padding-top: 10px;
  }

.msp-database-fields-label{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    display: inline-block;
    padding-right: 23px;
}
#msp-properties-database-fields{
    width:208px!important;
    font-size:13px!important;
}
#msp-properties-barcodeOptionsFields{
    /*width:150px!important;*/
    width:208px!important;
    font-size:13px!important;
}
.msp-barcode-options-label{
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
}
.msp-component-radio-input{
    margin: 4px 2px 0!important;
}
.msp-properties-barcode-button{
    text-align: center;
}
.msp-barcode-rotate{
    padding-top: 10px;
}
.msp-barcode-rotate-label{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding-right: 15px;
    float: left;
    width: 100px !important;
    margin-left:30px;
}
.msp-barcode-rotate-normal,.msp-barcode-rotate-right{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    width: 80px;
    color: #000000;
    padding-left: 10px;
    float: left;
}
.msp-barcode-rotate-inverted,.msp-barcode-rotate-left{
    font-size: 16px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    width: 80px;
    float: right;
    padding-left: 0px;
}
.msp-property-textfield{
    width: 242px;
}

.msp-property-seperator-options{
    padding: 10px 20px 20px 3px;
    margin-top: 27px
}

/*-----------------------------------*/
.msp-footer-info {
  background: white;
  border: 1px solid #ccc;
  bottom: 0;
  left: 80px;
  padding: 15px;
  position: fixed;
  width: 100%;
}

.msp-barcode-error-text {
  font-size: 13px !important;
  color: #FF5916 !important;
  font-family: Roboto-Medium !important;
  display: inline-block;
  padding-right: 10px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 10px;
}

input[type=text]::-ms-clear { display: none; width : 0; height: 0; }

input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
.msp-properties-icon {
    display: inline
}


/*---------Conditional Dynamic-------------*/
.msp-conditional-dynamic-backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: black;
    opacity: 0.4;
    z-index: 7;
}
.msp-conditional-dynamic{
    position: fixed;
    top: 80px;
    right: 295px;
    bottom: 50px;
    min-width: 800px;
    background: #fff;
    border: 1px solid #ccc;
    z-index: 8;
    font-size: 16px !important;
    font-family: Roboto-Medium !important
}
.msp-conditional-dynamic-header-title{
    padding: 10px;
    color: #1a3b7a;
    display: table-cell;
    vertical-align: middle;
}
.msp-conditional-dynamic-add-button{
    float: right;
    padding: 13px;
}
.msp-conditional-dynamic-close-button{
    color: #0099ff;
    text-align: right;
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
}
.msp-conditional-dynamic-header{
    height: 60px;
    display: table;
    width: 100%;
    padding: 0px 10px;
    border-bottom: 1px solid #ccc;
}
.msp-conditional-dynamic-query-builder{
    position: absolute;
    top: 120px;
    bottom: 0px;
    right: 0px;
    padding: 10px;
    overflow-y: auto;
}
.msp-conditional-dynamic-rule{
    padding: 5px;
    display: table;
}
.msp-conditional-dynamic-rule-header-title{
    color: #1a3b7a;
    display: table-cell;
    vertical-align: middle;
}
.msp-conditional-dynamic-rule-action-elements{
    float: right;
    padding: 5px 5px 0px 5px;
    color: #0099ff;
    display: table;
    cursor: pointer;
}
.msp-conditional-dynamic-rule-action-elements > div {
    display: table-row;
    vertical-align: middle;
}
.msp-conditional-dynamic-rule-action-elements-child{
    display: table-cell;
    vertical-align: middle;
}
.msp-conditional-dynamic-rule-logical-operators{
    display: inline-block;
}
.msp-conditional-dynamic-rule-input{
    display: inline-block;
    margin: 5px;
}
.msp-conditional-dynamic-scenario{
    width: inherit !important;
}
.msp-conditional-dynamic-scenario-tabs{
    display: inline;
    box-shadow: 0px 0px 0px white !important;
}
.msp-conditional-dynamic-query-builder-rules-section{
    min-height: 80%;
    overflow-y: auto;
}
.msp-conditional-dynamic-footer{
    position: absolute;
    bottom: 5px;
    left: 0px;
    right: 0px;
    text-align: right;
    padding: 12px 15px 5px;
    border-top: 1px solid #CCCCCC;
    background-color: white;
}
.msp-conditional-dynamic-footer-button + .msp-conditional-dynamic-footer-button{
    margin-left: 5px;
}
.rule,
.ruleGroup .ruleGroup {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.ruleGroup {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
    background: rgba(204, 204, 204, 0.15);
}

.rule-container {
    width: inherit !important;
    padding: 10px !important;
}

.rule-operators {
    font-size: 14px !important;
}

.msp-conditional-dynamic-value-selector-btn{
    margin: 5px;
    min-width: 50px !important;
}
.msp-conditional-dynamic-value-editor{
    padding: 0px 5px 0px 5px !important;
}
.msp-conditional-dynamic-value-editor > select{
    padding: 0px !important;
}
.msp-conditional-dynamic-value-editor .Select-value-label,
.Select-menu-outer div {
    font-size: 14px !important;
}
/*-----------------------------------------*/
#editor-left-nav-panel-icon-shapes-rect {
    padding-top: 15px;
    padding-bottom: 10px;
}
.msp-conditional-dynamic-visible-option {
    font-size: 13px !important;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
    padding: 40px 40px 0px;

}

.msp-conditional-scenario {
    padding: 10px 0px 0px 5px;
    border-bottom: 1px solid #ccc;
    height: 48px;
    margin: 0px;
}
.msp-conditional-scenario-list {
    color: #0099ff;
}

.msp-conditional-dynamic-scenario-container {
    position: absolute;
    top: 120px;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    border-right: 1px solid #ccc;
}
.msp-conditional-dynamic-scenario-container.col-sm-2 {
    padding: 0px
}
.msp-conditional-dynamic-scenario-title {
    padding: 10px;
    color: #0099ff;
    display: table-cell;
    vertical-align: middle;
}
.msp-conditional-dynamic-scenario-action-elements {
    padding: 20px 10px 10px 0px;
    color: #0099ff;
    display: table;
    vertical-align: middle;
    float: right;
    cursor: pointer;
}
.msp-scenario-close {
    float: left;
    visibility: hidden;
    height: 24px;
    padding: 0px;
    cursor: pointer;
}
.msp-conditional-scenario:hover .msp-scenario-close {
    visibility: visible;
}
.msp-scenario-name {
    cursor: pointer;
}
.msp-search-combobox-wrapper {
    margin: 0 10px;
}
.Select-multi-value-wrapper {
    text-align: left;
}
.Select-input, .Select-input > input {
    min-width: 100px !important;
    width: 100% !important;
}
.VirtualizedSelectOption {
    cursor: pointer;
    display: block;
    text-align: left;
}
.msp-snackbar-styling {
    transform: 'translate(0%, 24px)';
    width: 'inherit';
    margin-left: 30px;
}
.msp-dialog-box-style {
    top: -40;
}
.msp-preview-export-btn {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
#editor-property-format-bold,
#editor-property-format-italic,
#editor-property-format-underline,
.msp-properties-activeicon #editor-property-align-left,
.msp-properties-activeicon #editor-property-align-center,
.msp-properties-activeicon #editor-property-align-right {    
  border: 1px solid #fff;
  cursor: pointer;
  padding: 3px;
}
.msp-properties-activeicon #editor-property-format-bold,
.msp-properties-activeicon #editor-property-format-italic,
.msp-properties-activeicon #editor-property-format-underline,
.msp-properties-activeicon #editor-property-subscript,
.msp-properties-activeicon #editor-property-superscript {
  border: 1px solid #999;
  cursor: pointer;
}
.msp-properties-defaulticon #editor-property-align-left,
.msp-properties-defaulticon #editor-property-align-center,
.msp-properties-defaulticon #editor-property-align-right {
  border: 1px solid #999;
  cursor: pointer;
  padding: 3px;
}
.msp-properties-defaulticon #editor-property-subscript,
.msp-properties-defaulticon #editor-property-superscript {
    border: 1px solid #fff;
    cursor: pointer;
}
.msp-properties-activeicon #editor-property-barcode-left,
.msp-properties-activeicon #editor-property-barcode-normal,
.msp-properties-activeicon #editor-property-barcode-inverse,
.msp-properties-activeicon #editor-property-barcode-right {
    border: 1px solid #fff;
    cursor: pointer;
    padding: 1px;
}
.msp-properties-defaulticon #editor-property-barcode-left,
.msp-properties-defaulticon #editor-property-barcode-normal,
.msp-properties-defaulticon #editor-property-barcode-inverse,
.msp-properties-defaulticon #editor-property-barcode-right {
    border: 1px solid #999;
    cursor: pointer;
    padding: 1px;
}
#editor-property-barcode-left,
#editor-property-barcode-normal,
#editor-property-barcode-inverse {
    margin-right: 32px;
}
.msp-property-bc-alignment {
    margin: 8px 25px 0;
}

/*********************TemplateMatchingRulePanel css start************************/
.msp-templatematchingrule-panel {
    position: fixed;
    right:0px;
    top: 80px;
    background: white;
    width: 300px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    bottom: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.msp-templatematchingrule-container {
    position: relative;
    height: 100%
}

.msp-templatematchingrule-rule-heading {
    margin-left: 20px
}

.msp-templatematchingrule-close {
    padding-top: 5px;
}

.msp-templatematchingrule-addrule-button {
    float: right;
    padding-top: 20px;
    padding-right: 15px;
}

.msp-templatematchingrule-addrule-text {
    vertical-align: middle;
    padding: 10px;
}

.msp-templatematchingrule-heading {
    margin-left: 20px;
    padding-top: 10px;
}

.msp-templatematchingrules-div {
    max-height: 370px;
    overflow-y: 'scroll';
    overflow-x: 'hidden';
    height: 370px;
}
.msp-templatematchingrule-buttons {
    position: absolute;
    bottom: 0px;
    left: 120px;
}
.msp-templatematchingrule-deleterule-button {
    margin-top: 15px;
    margin-left: 10px;
}
.msp-templatematchingrule-searchable-combo {
    padding-left: 20px;
    padding-top: 10px;
}

.msp-templatematerule {
    min-height: 410px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 410px;
    margin-top: 10px;
}
.Select.msp-required-error .Select-value {
    border: 2px solid #d90000;
}
.Select.msp-required-error.Select--single.is-searchable.has-value {
    border: 0;
}

/************************ SIDEBAR **********************************/
.msp-sidebar-sam-logo {
    height: 80px;
    padding: 25px 32px;
}
.msp-sidebar-sam-option {
    padding: 29px 22px 28px 72px;
    position: relative;
    cursor: pointer;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.msp-sidebar-sam-option-icon {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 22px 16px;
    margin-left: 32px;
    height: 28px;
    width: 28px
}
.msp-sidebar-sam-option-label{
    display: block;
    color: #fff;
    font-size: 16px ;
}
.msp-sidebar-sam-drawer-bottom-elements{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
.msp-sidebar-sidney-logo {
    height: 80px;
    width: 80px;
    padding: 25px 22px;
}
.msp-sidebar-sidney-bottom-elements{
    position: absolute;
    bottom: 0;
}
.msp-logout-msg-container {
    color: #214F96;
    font-size: 32px;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
.msp-logout-msg-container a {
    text-decoration: underline !important;
}
.msp-app-version {
    color: #fff;
    font-size: 11px;
    opacity: 0.6;
    padding: 10px;
    text-align: center;
}


.component-list-panel-title{
    font-size: 16px !important;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #002D72 !important;
    font-family: Roboto-Medium !important;
}
.component-list-item{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component-list-panel-close-btn{
    position: fixed;
    height: 25px;
    width: 25px;
    top: 85px;
    left: 330px;
}
.component-list-panel-close-btn:hover{
    cursor: pointer;
}
.component-list-panel{
    top: 80px;
    width: 200px;
    left: 160px;
    background: white;
    height: 100%;
    position: fixed;
    border-right: 1px solid #cccccc;
}
.component-container{ 
    top: 70px;
    left: 0px;
    overflow-y: scroll;
    position: absolute;
    bottom: 130px;
    right: 0;
}

.component-container-div { 
    top: 120px;
    left: 0px;
}

.component-list-icon {
    /*position: absolute;
    bottom: 50px;*/
    padding-top: 10px;
    border-top: 1px solid grey;
}

.msp-error-display {
    width:800px;
    margin:20% auto;
    font-size: 16px;
}
